<div class="home">
  <%= link_to "Get started now!", login_path %>
  <div class="home_image text-center">
    <%= link_to image_tag("home_image.png", alt:"home_image", size: '500x400'), login_path %>
  </div>
</div>
