@import "bootstrap";
@import "font-awesome";

//-----header------
header {
  background-color: #e3f2fd;
  a {
    font-size: 20px;
  }
  a:hover {
    text-decoration: none;
  }
}


//-----home--------
.home {
  margin-top: 7em;
  text-align: center;
  a {
    font-size: 40px;
    color: black;
    text-decoration-line: none;
  }
  a:hover {
      color: darkred;    
  }
}

.home_image {
  margin-top: 3rem;
}

.signup_link {
  text-align: center;
  font-size: 20px;
  text-decoration-line: underline;
}



//----body----------
body {
  font-family: 'Merriweather', serif;
}



//----userindex--------
.profile-item {
  height: 100px;
  width: 100px;
}



//----footer-----
footer {
  padding-bottom: 1em;
}

//----dashbord------
.administration {
  height: 200px;
  width: 400px;
  border: double;
}