<footer class="footer w-75 mx-auto fixed-bottom">
  <hr class="footer-border">
  <div class="bg-black float-right">
      <p class="text-black"> Language Acquisition © Akemi Katajima</p>
  </div>
</footer>
